#recipe {
    margin-left: 39px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(197, 98, 182);
    text-align: center;
}

body {
    
    background-color: rgb(0, 0, 0);
}

.img {
    text-align: center;
    border: 5px solid; color: rgb(92, 161, 60);
    border-image: round;
    color: rgb(201, 228, 189);
}

p {
    font-family: Helvetica, sans-serif; color: aliceblue;
    font-size: medium
}

.section.title {
    font-size: x-large; color: rgb(197, 98, 182);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section.content {
    font-family: Helvetica, sans-serif; color: aliceblue;
    font-size: medium;
}

#button {
    background-color: rgb(255, 205, 158);
    color: rgb(68, 0, 0);
}

.source {
    color: rgb(83, 52, 112);
    padding: 6px;
    background-color: rgb(201, 228, 189);
}