#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(194, 132, 179);
}

body {
    
    background-color: rgb(206, 233, 224);
}

ul {
        color: rgb(0, 0, 0);    
}

a {
    font-family: 'Lucida Handwriting', 'Brush Script MT', Helvetica, sans-serif;
}
img {
    border: 2px solid; color: black;
    border-image: round;
    color: black;
}

.gif {
    vertical-align: bottom;
}
