#title {
    margin-left: 39px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(197, 98, 182);
    
}

body {
    
    background-color: rgb(0, 0, 0);
}

ul {
         color: rgb(0, 0, 0);
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
        column-rule: 500px;
        
        
}

.link {
    font-family: 'Lucida Handwriting', 'Brush Script MT', Helvetica, sans-serif;
    padding: 6px;
    background-color: rgb(201, 228, 189);
}
.listimg {
    border: 5px solid; color: rgb(92, 161, 60);
    border-image: round;
    color: rgb(201, 228, 189);
}

.gif {
    vertical-align: bottom;
}
